<div class="container" fxLayout="row" fxLayout.sm="column" fxLayout.xs="column"
    fxLayoutAlign.gt-md="space-around center" fxLayoutGap="10px" fxLayoutGap.xs="0">

    <div fxFlex="40" *ngIf="dish" [@visibility]="visibility" [@expand]>
        <div fxFlex>
            <mat-card>
                <mat-card-header>
                    <mat-card-title>
                        <h3 *ngIf="dish">{{dish.name | uppercase}}</h3>
                    </mat-card-title>
                </mat-card-header>
                <img mat-card-image src="{{BaseURL + dish.image}}" alt={{dish.name}}>
                <mat-card-content>
                    <p>{{dish.description}}</p>
                </mat-card-content>
                <mat-card-actions>
                    <button mat-button [routerLink]="['/dishdetail', prev]">
                        <mat-icon>navigate_before</mat-icon>
                    </button>
                    <button mat-button (click)="goBack()">BACK</button>
                    <button mat-button>LIKE</button>
                    <button mat-button>SHARE</button>
                    <span class="flex-spacer"></span>
                    <button mat-button [routerLink]="['/dishdetail', next]">
                        <mat-icon>navigate_next</mat-icon>
                    </button>

                </mat-card-actions>
            </mat-card>
        </div>
    </div>
    <div fxFlex [hidden]="dish">
        <mat-spinner></mat-spinner>
        <h4>Loading... Please Wait</h4>
    </div>

    <div fxFlex="40" *ngIf="dish" [@visibility]="visibility" [@expand]>
        <!-- <app-dishdetail [dish]="selectedDish"></app-dishdetail> -->
        <div fxFlex>
            <mat-card>
                <mat-card-header>
                    <mat-card-title>
                        <h3>Comments</h3>
                    </mat-card-title>
                </mat-card-header>
                <mat-list *ngFor="let dish of dish.comments">
                    <mat-card-content>
                        <p>{{dish.comment}}</p>
                        <p>{{dish.rating}} ☆ Stars</p>
                        <p>-- {{dish.author}} {{dish.date | date}} <br></p>
                    </mat-card-content>
                </mat-list>
            </mat-card><br>


            <form novalidate [formGroup]="commentForm" #fform="ngForm" class="full-width" (ngSubmit)="onSubmit()">

                <div [hidden]="commentForm.invalid">
                    <p>{{comment.comment}}</p>
                    <p>{{comment.rating}} ☆ Stars</p>
                    <p>-- {{comment.author}}<br></p>
                    <hr>
                </div>
                <input matInput formControlName="author" placeholder="Name" type="text" required>
                <mat-error *ngIf="formErrors.author">
                    {{ formErrors.author }}
                </mat-error><br><br>
                <p>
                    <mat-slider formControlName="rating" thumbLabel tickInterval="1" step="1" min="1" max="5">
                    </mat-slider>
                </p>
                <p>
                    <mat-form-field class="full-width">
                        <textarea matInput formControlName="comment" placeholder="Your Comment" rows=5
                            required></textarea>
                        <mat-error *ngIf="formErrors.comment">
                            {{ formErrors.comment }}
                        </mat-error>
                    </mat-form-field>

                </p>
                <button type="submit" mat-button class="background-primary text-floral-white"
                    [disabled]="commentForm.invalid">Submit</button>
            </form>
        </div>
        <div fxFlex [hidden]="dish || errMess">
            <mat-spinner></mat-spinner>
            <h4>Loading... Please Wait</h4>
        </div>
        <div fxFlex *ngIf="errMess">
            <h2>Error</h2>
            <h4>{{errMess}}</h4>
        </div>
    </div>
</div>

<!-- 
 <div class="container"
fxLayout="row"
fxLayout.sm="column"
fxLayout.xs="column"
fxLayoutAlign.gt-md="space-around center"
fxLayoutGap="10px" 
fxLayoutGap.xs="0">

<div fxFlex="40">
<div fxFlex *ngIf="selectedDish">
    <mat-card>
        <mat-card-header>
            <mat-card-title>
                <h3>{{selectedDish.name | uppercase}}</h3>
            </mat-card-title>
        </mat-card-header>
        <img mat-card-image src={{selectedDish.image}} alt={{selectedDish.name}}>
        <mat-card-content>
            <p>{{selectedDish.description}}</p>
        </mat-card-content>
        <mat-card-actions>
            <button mat-button>LIKE</button>
            <button mat-button>SHARE</button>
        </mat-card-actions>
    </mat-card>
</div>
</div>

<div fxFlex="40">
<div fxFlex *ngIf="selectedDish">
    <mat-card>
        <mat-card-header>
            <mat-card-title>
                <h3>{{selectedDish.name | uppercase}}</h3>
            </mat-card-title>
        </mat-card-header>
        <img mat-card-image src={{selectedDish.image}} alt={{selectedDish.name}}>
        <mat-card-content>
            <p>{{selectedDish.description}}</p>
        </mat-card-content>
        <mat-card-actions>
            <button mat-button>LIKE</button>
            <button mat-button>SHARE</button>
        </mat-card-actions>
    </mat-card>
</div>
</div>
-->